<div class="accordion-heading">
  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse3"> 
    <h2 id="nav-tabs"><titlecode>/tags</titlecode></h2>
  </a>
</div>



<div id="collapse3" class="accordion-body collapse">
 <div class="row">
  <div class="col-lg-12">

      <div class="bs-example">
        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
          <li class="active"><a href="#Operations_tags" data-toggle="tab">Operations</a></li>
          <li><a href="#Examples_tags" data-toggle="tab">Examples</a></li>
        </ul>
      </div>
    
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="Operations_tags">
          <h4><span class="label label-success">GET</span> https://core.woofound.com<code>/tags/{id}</code></h4></br>
      </div>

      <div class="tab-pane fade" id="Examples_tags">
        <div class="col-lg-12">
          <h4><span class="label label-success">GET</span> https://core.woofound.com<code>/tags/{id}</code></h4></br>
          <pre>curl -X GET -H "Woofound-App-Secret: APP SECRET"  --user "name@example.com:password" https://core.woofound.com/tags/1</pre>
        </div>
      </div>


    </div>
  </div>
</div>