<div class="accordion-heading">
  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse3">
    <h2 id="nav-tabs">
      <titlecode>/tags</titlecode>
    </h2>
  </a>
</div>


<div id="collapse3" class="accordion-body collapse">

  <div class="row">
    <div class="col-lg-12">
      <div class="bs-example">

        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
          <li class="active"><a href="#operation" data-toggle="tab">Operations</a></li>
          <li><a href="#example" data-toggle="tab">Examples</a></li>
          <li><a href="#test" data-toggle="tab">Test</a></li>
        </ul>

        <!--TABS-->
        <div id="myTabContent" class="tab-content">

          <!--TAB 1-->
          <div class="tab-pane fade active in" id="operation">
            <h4><span class="label label-success">GET</span> https://core.woofound.com<code>/tags/{id}</code></h4></br>
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                  <th>No Data</th>
                </tr>
                </thead>
              </table>
            </div>
          </div>

          <!--TAB 2-->
          <div class="tab-pane fade" id="example">
            <div class="col-lg-12">
              <h4><span class="label label-success">GET</span> https://core.woofound.com<code>/tags/{id}</code>
              </h4></br>
              <pre>curl -X GET -H "Woofound-App-Secret: APP SECRET"  --user "name@example.com:password" https://core.woofound.com/tags/1</pre>
            </div>
          </div>

          <!--TAB 3-->
          <div class="tab-pane fade" id="test">
            <div class="col-lg-12">
              <h4><span class="label label-success">GET</span> https://core.woofound.com<code>/tags/{id}</code>
              </h4></br>
              <pre>curl -X GET -H "Woofound-App-Secret: APP SECRET"  --user "<span id="username_curl" readonly="readonly"> </span>:<span id="password_curl" readonly="readonly"> </span>" https://core.woofound.com/tags/1</pre>


              <form class="form-horizontal">
                <fieldset>

                  <!-- Text input-->
                  <div class="control-group">
                    <label class="control-label" for="textinput">App_Secret</label>
                    <div class="controls">
                      <input id="app_secret" name="textinput" size="70" type="text" placeholder="xxxxxxxxxxxxxx" class="input-xlarge">
                    </div>
                  </div>

                  <!-- Text input-->
                  <div class="control-group">
                    <label class="control-label" for="textinput">Username</label>
                    <div class="controls">
                      <input id="username" name="textinput" size="25" type="text" placeholder="jason@woofound.com" class="input-xlarge">
                    </div>
                  </div>

                  <!-- Text input-->
                  <div class="control-group">
                    <label class="control-label" for="textinput">Password</label>
                    <div class="controls">
                      <input id="password" name="textinput" size="25" type="text" placeholder="password" class="input-xlarge">
                    </div>
                  </div>



                  <!-- Select Basic -->
                  <div class="control-group">
                    <label class="control-label" for="selectbasic">Endpoint</label>
                    <div class="controls">
                      <select id="selectbasic" name="selectbasic" class="input-xlarge">
                        <option>/tags/{id}</option>
                      </select>
                    </div>
                  </div>

                  <!-- Text input-->
                  <div class="control-group">
                    <label class="control-label" for="textinput">id</label>
                    <div class="controls">
                      <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge">
                    </div>
                  </div>

                  <!-- Button (Double) -->
                  <div class="control-group">
                    <label class="control-label" for="button1id">Double Button</label>
                    <div class="controls">
                      <button id="button1id" name="button1id" class="btn btn-success">Go</button>
                      <button id="button2id" name="button2id" class="btn btn-danger">Clear</button>
                    </div>
                  </div>

                </fieldset>
              </form>



            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

