<div id="output1">
</div>

<% if @name then %>
    <%= @name %>
<% end %>

<form id="myForm" action="/examples" method="post">
  Name: <input type="text" name="post[name]" />
  <input type="submit" value="Submit Name" />
</form>