
  <div class="col-lg-12">


    <form id="main" name="main" action="#text" method="post">
        Your Name  <input  type="text" class="textinput" id="nm" placeholder="password" class="input-xlarge">
        Your Place <input  type="text" class="textinput" id="pl" placeholder="password" class="input-xlarge">
        <input type="submit" id="go" name="go" value="go" />
    </form>
    <div class="output"></div>


  </div>
