<div class="row">
  <div class="col-lg-12">
  
    <h1>Woofound Developer Resources</h1>
    <p class="lead">Welcome</p>
    <p> Check out our developer guide - it's a work in progress. </p> 
    <p> Have a look at our <a href="/v1">Version 1 API</a> resources.</p>

  </div>
</div><!-- /.row -->