<div class="row">
  <div class="col-lg-12">
    <% accordion_num = 1 %>
    <div class="accordion" id="<%= accordion_num %>">

      <!--Loop over the array-->
      <% @endpoint_data.each do |route, route_data| %>

          <!--Get the route name-->
          <% route = route %>

          <!--Get out the variables for the route-->
          <% if @endpoint_data[route].has_key?(:variables) %>
              <% variables = @endpoint_data[route][:variables] %>
          <% end %>

          <!--Get our the methods for the route-->
          <% if @endpoint_data[route].has_key?(:methods) %>
              <% methods = @endpoint_data[route][:methods] %>
          <% end %>


          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion0" href="#collapse0">
              <h2 id="nav-tabs"><titlecode><%=route%></titlecode></h2>
            </a>
          </div>















      <% end %>


    </div>
  </div>
</div><!-- /.row -->